name: Build & Push to GHCR

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to GHCR with buildah
        run: echo "${{ secrets.GITHUB_TOKEN }}" | buildah login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build image with make
        run: make build
        working-directory: components/image-pgbackrest
        env:
          PGBACKREST_IMAGE: ghcr.io/${{ github.repository_owner }}/pgbackrest:latest

      - name: Push image to GHCR
        run: buildah push ghcr.io/${{ github.repository_owner }}/pgbackrest:latest
